
h2{
    color : rgb(39, 40, 100)
}
h3{
    color : rgb(0, 126, 158)
}
h4{
    color: rgb(79, 47, 105);
}

.header{
    
    color: rgb(73, 29, 194);
    display:flex;
    justify-content: space-around;
    background-color: rgb(243, 189, 89);
}
body{
    background-color:rgb(130, 218, 42) ;
    
    
}
.origami{
    
    border: 2px solid black;
    background-color: rgb(96, 173, 86);
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 30px;

}
.origami image{
    border-radius: 30px;
}

a:link {
    color:blueviolet
}
a:visited {
    color:rgb(29, 0, 83)21, 85
}
a:hover {
    color:cyan

}
.origami:hover{
    transform: scale(1.01) ;
}


